@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    --color-rmc: 0.1;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(var(--color-rmc), 100%, 55%);
    --first-color-light: hsl(var(--color-rmc), 97%, 77%);
    --first-color-alt: hsl(var(--color-rmc), 67%, 52%);
    --first-color-dark: hsl(var(--color-rmc), 63%, 50%);
    --first-color-gray: hsl(var(--color-rmc), 6%, 64%);

    /*======== Comun Colors =========*/
    --title-color: hsl(var(--color-rmc), 4%, 98%);
    --title-color-black: hsl(var(--color-rmc), 4%, 12%);
    --text-color: hsl(var(--color-rmc), 4%, 72%);
    --text-color-light: hsl(var(--color-rmc), 4%, 65%);
    --body-color: hsl(0, 0%, 9%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Noto Sans', sans-serif;
    /* --second-font: 'Kaushan Script', cursive; */
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-bold: 700;
    --font-black: 900;
  
      /*Margenes bottom - .25rem = 4px .5rem = 8px, .75rem = 12px...*/
      --mb-0-25: .25rem;
      --mb-0-5: .5rem;
      --mb-0-75: .75rem;
      --mb-1: 1rem;
      --mb-1-5: 1.5rem;
      --mb-2: 2rem;
      --mb-2-5: 2.5rem;
      --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  
/* font size for large devices */
@media screen and (min-width: 968px) {
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813em;
    }
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
 }
 
html{
     scroll-behavior: smooth;
}
 
body{
     margin: 0 0 var(--header-height) 0;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     background-color: var(--body-color);
     color: var(--text-color);
}
 
h1,h2,h3,h4{
     color: var(--title-color);
     font-weight: var(--font-semi-bold);
}
h1{
     font-family: 'DM Mono', monospace;
}
 
ul,ol{
     list-style: none;
}
 
a{
     text-decoration: none;
}
 
img{
     max-width: 100%;
     height: auto;
     padding-top: 2rem;
     user-select: none;
}
  
 /* Reusable css clases */
.section{
     padding: 2rem 0 4rem;
}
 
.section__title{
     font-size: var(--h1-font-size);
}
 
.section__subtitle{
     display: block;
     font-size: var(--small-font-size);
     margin-bottom: var(--mb-0-25);
}
 
.section__title, .section__subtitle{
    text-align: center;
}
 
 /* LAYOUT */
.container{
      /* max-width: 768px; 
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5); */
      max-width: 1100px;
      margin-right: 1.5rem;
    margin-left: 1.5rem;
}
 
.grid{
     display: grid;
     gap: 1.5rem;
}
 
/* HEADER & NAV */
.header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: transparent;
     z-index: var(--z-fixed);
     transition: .4s;
}

.header__img{
     padding-top: 1rem;
     width: 275px;
     /* position: absolute; */
     display: flex;
     margin: 0 auto;
}

.nav{
     height: var(--header-height);
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--body-color);
     margin-left: 0;
     margin-right: 0;
     padding: 3rem 0;
}
 

 
@media  screen and (max-width: 1023px) {
     .nav__menu{
         position: fixed;
         bottom: 1.5rem;
         background-color: var(--body-color);
         box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
         width: 90%;
         left: 0;
         right: 0;
         margin: 0 auto;
         padding: 1.25rem 1.3rem;
         border-radius: .5rem;
     }
     .nav__list{
          display: flex;
          justify-content: space-between;
          align-items: center;
     }
     .nav__link{
         color: var(--text-color-light);
         font-weight: var(--font-medium);
         display: grid;
         justify-items: center;
         row-gap: .25rem;
     }
     .nav__link i{
         font-size: 1.25rem;
     }
     .nav__link span{
         font-size: .788rem;
     }
}

 /* CHANGE BACKGROUND HEADER */
.scroll-header{
     background-color: var(--body-color);
     box-shadow: 0 1px 4px rgba(95, 95, 97, 0.534);
}
 
 /* ACTIVE LINK */
 .active-link{
     color: var(--title-color);
}

/* RACELINE*/

.raceline{
     padding-top: 0;
     top: 0;
}

/* HOME */
.home{
     background-color: var(--bg-color);
     overflow: hidden;
}
 
.home__container{
     padding: 4rem 0 1rem;
     row-gap: .5rem;
}

.home__data{
     padding-top: 4rem;
}
 
.home__title{
     font-size: var(--big-font-size);
     /* font-weight: 300; */
     /* padding-top: 3rem; */
}
 
.home__description{
     color: var(--title-color);
     margin: 1rem 0 .5rem;
}
 
 .home__title,
 .home__description{
     line-height: 140%;
}
 
.home__images{
     position: none;
     width: 310px;
     justify-self: center;
     padding-bottom: 1.6rem;
}
 
.home__images{
     width: 100%;
     right: -1.5rem;
     top: -9.5rem;
}

/* BUTTONS  */
.button__link{
     color: var(--title-color);
     font-weight: var(--font-medium);
     display: inline-flex;
     align-items: center;
     column-gap: .5rem;
}

.button__link i{
     font-size: 1rem;
      transition: .3s;
}
 
 .button__link:hover i{
     transform: translateX(.25rem);
}



/* PRODUCTS */
.products__container{
     padding-bottom: 2.5rem;
     text-align: center;
     margin-bottom: 1rem;
}
 
.product__title{
     margin-bottom: 2rem;
}

.products__card{
     width: 270px;
}
 
.products__img{
     margin-bottom: 1rem;
}


.section__title__pt{
     padding-top: .2rem;
}

.products__linetop{
     border-top: 1px solid rgb(139, 0, 0);
}

.products__name{
     font-size: var(--h3-font-size);
     margin-bottom: .2rem;
}
 
.products__po{
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     gap: 0;
}
.products__price{
     right: 0;
     font-size: var(--biggest-font-size);
     text-decoration: line-through;
     color: red;;
}

.products__ofert{
     font-size: var(--big-font-size);
}

.products__card img{
     max-height: 280px;
}


 
 /* SWIPER CLASS */
.swiper-button-prev::after,
.swiper-button-next::after{
     content: '';
}
 
.swiper-button-prev,
.swiper-button-next{
     top: initial;
     bottom: 0;
     width: initial;
     height: initial;
     font-size: 1.5rem;
     color: var(--title-color);
}
 
.swiper-button-prev{
     left: calc(50% - 2rem);
}
 
.swiper-button-next{
     right: calc(50% - 2rem);
}

.products__envio{
     padding-top: 1rem;
     font-size: var(--smaller-font-size);
     text-align: center;
}

/* LOGOS */
.logos__container{
     /* padding-top: 2rem; */
     /* grid-template-columns: repeat(2, 1fr); */
     /* gap: .1rem 2rem; */
     font-family: 'Roboto Condensed', sans-serif;
     justify-items: center;
     
     grid-template-areas: "fiat vw"
                          "ch ch";
}

.logos__container img{
     background: transparent;
}

#logo__fiat{ grid-area: fiat; background: transparent;}
#logo__vw{ grid-area: vw; background: transparent;}
#logo__chevrolet{ grid-area: ch; background: transparent; }

.logos__img img{
     height: 60px;
     opacity: .2;
     transition: .3s;
     background: transparent;
}
   
.logos__img img:hover{
     opacity: .6;
}

.logos__info{
     padding-top: 1rem;
     font-size: var(--small-font-size);
     margin-top: 1rem;
     background-color: var(--title-color-black);
     padding: 1rem 2rem;
     border-radius: 1.25rem;
     border: 6px solid var(--first-color-lighten);
     text-align: center;
}

.logos__title{
     display: block;
     font-size: .66rem;
     margin-bottom: .5rem;
     color: var(--title-color);
     font-weight: lighter;
     letter-spacing: .1px;

}

.logos__ol{
     display: grid;
     grid-template-columns: repeat(3, .5fr);
     gap: .5rem;
}
.logos__ol li{
     align-self: center;
     text-decoration: underline;
}

/* ABOUT */
.about__info{
     padding-top: 1rem;
     font-size: var(--h3-font-size);
     margin-top: 1rem;
     background-color: var(--title-color-black);
     padding: 1rem 2rem;
     border-radius: 1.25rem;
     border: 6px solid var(--first-color-lighten);
     text-align: initial;
}

/* FOOTER */
.footer__info,
.footer__privacy{
  display: flex;
}

.footer__info{
  /* padding-bottom: 6rem; */
  flex-direction: column;
  text-align: center; 
  row-gap: 1.5rem;
}

.footer__copy,
.footer__privacy a{
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.footer__privacy{
  justify-content: center;
  column-gap: 1.25rem;
}

.oyham{
     color: var(--title-color);
}

.footer{
     padding-top: 2rem;
}
 
.footer__container{
     row-gap: 3.5rem;
}
 
.footer__bg{
     background-color: var(--first-color);
     padding: 2rem 0 3rem;
}
 
.footer__title{
     font-size: var(--h1-font-size);
     margin-bottom: var(--mb-0-25);
     font-weight: 400;
}
 
.footer__subtitle{
     font-size: var(--small-font-size);
     font-weight: 400;
}
 
 
.footer__social{
     font-size: 3.5rem;
     margin-right: var(--mb-1-5);
     color: var(--body-color);
}
 
.footer__social:hover{
     color: var(--first-color-lighter);
}
 
.footer__copy{
     font-size: var(--smaller-font-size);
     text-align: center;
     color: var(--text-color-light);
     margin-top: var(--mb-3);
}
 
.footer__title,
.footer__subtitle{
    color: #fff;
}

/* BREAKPOINTS */
/* For small devices */
@media screen and (max-width: 340px){
     .container{
         margin-left: 1rem;
         margin-right: 1rem;
     }
 
     .footer__content{
         grid-template-columns: max-content;
         row-gap: 2rem;
     }
 
     .nav__menu{
         padding: 1rem 1.5rem;
     }
 
     .home__container{
         padding: 2rem 0 1rem;
         row-gap: 1rem;
     }
     
     .home__description{
         font-size: var(--small-font-size);
     }
     .home__images{
         width: 99%;
     }
      .products__card{
         width: 100%;
     }
}



/* For medium devices */
@media screen and (min-width: 576px){
     
     .nav__menu{
         width: 342px;
     }
     .footer__content{
         grid-template-columns: repeat(3, max-content);
     }
}

@media screen and (max-width: 766px){
     #logo__chevrolet{
          width: 75%
     };

}

@media screen and (min-width: 767px){
     .home__container,
     .new__container{
        justify-content: center;
     }

     .home__images img{
          width: 99.7%;
     }

     .products__envio{
          font-size: var(--normal-font-size);
     }

     .logos__img{
         /* margin-top: 6rem; */
         width: 150px;
         height: 150px;
     }

     .logos__title{
          font-size: 1.5rem;
     }

     .logos__info{
          margin-top: 2rem;
     }
     .products__ofert {
          font-size: 1.2rem;
     }
 
     .footer__container{
         grid-template-columns: repeat(2, max-content);
         justify-content: space-between;
     }

     .logos__container{
          padding-bottom: 2rem;
          /* grid-template-columns: repeat(2, 1fr); */
          /* gap: 3rem 2rem; */
          justify-items: center;
          
          grid-template-areas: "fiat vw ch";
     }
     
     #logo__fiat{ grid-area: fiat; background: transparent;}
     #logo__vw{ grid-area: vw; background: transparent;}
     #logo__chevrolet{ grid-area: ch; background: transparent;}
}

/* For large devices */
@media screen and (min-width: 1023px){
     .section{
         padding: 7rem 0 1rem;
     }
     .section__title{
         margin-bottom: 4rem;
     }
    

     .home__description {
          font-size: 1rem;
      }

     #products__ofert{
          margin-bottom: 0rem;
     }
     #products__title{
          margin-bottom: 0rem;
          margin-top: 3rem;
     }
 
     .nav{
         height: calc(var(--header-height) + 1.5rem);
     }
     .header__img{
          margin-left: 2rem;
          width: auto;
     }

     .nav__menu{
          background-color: transparent;
          box-shadow: none;
          width: 30rem;
      }
     
     .nav__list{
         display: flex;
         column-gap: 3rem;
     }
     .nav__link{
         color: var(--text-color);
         font-weight: var(--font-medium);
         transition: .3s;
     }
     .nav__link i{
         display: none;
     }
     .nav__link:hover{
         color: var(--title-color);
     }
 
     .active-link{
         color: var(--title-color);
         text-decoration: line-through;
     }
 
     .change-theme{
         margin-left: 3rem;
         color: var(--text-color);
     }
 
     
 
     .products__container{
         width: 954px;
     }
 
     .footer__content{
         grid-template-columns: repeat(4, max-content);
         column-gap: 5.5rem;
     }
     .footer__link{
         font-size: var(--normal-font-size);
     }
     .footer__info{
         padding-bottom: 2rem;
         row-gap: 1rem;
     }
     .home__information{
          grid-template-columns: repeat(4, max-content);
          padding-bottom: 2rem;
          justify-content: center;  
     }
     
}

@media screen and (min-width: 1054px){
     .container{
         margin-left: auto;
         margin-right: auto;
     }
     .header__img{
          margin-left: 2rem;
          width: auto;
     }
     .home__container{
          grid-template-columns: repeat(2, max-content);
          justify-content: center;
          padding: 10rem 0 3rem;
          column-gap: 4rem;
     }

     .home__title{
          font-size: var(--big-font-size);
          /* font-weight: 300;
          padding-top: 3rem; */
     }

     .home__data{
          padding-top: 0;
          padding-bottom: 6rem;  
          transform: scale(.8)    
     }
     .home__images{
          position: relative;
          width: 430px;
          margin-top: 8rem;
          right: 10px;
     }
     .home__images img{
          position: absolute;
          top: -9.5rem;
          border-radius: 200px 0px 200px 0px / 60px 25px 50px 25px;
      }
     
     

     .raceline{
          width: 2000px;   
     }
     
}

@media screen and (max-width: 2000px){
     .nav{
          border-top: 4px solid red;
          border-left:1px solid var(--body-color);
          border-right:1px solid var(--body-color);
          }
         
}